decompile/ssomgr/src/WEB-INF/wsdl/application-credential-services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:dso="urn:sungardhe:enterprise:domain:sso:1.0" 
xmlns:tns="urn:sungardhe:enterprise:ws:wsdl:1.0" 
targetNamespace="urn:sungardhe:enterprise:ws:wsdl:1.0" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
http://ws-i.org/profiles/basic/1.1/wsdlsoap-2004-08-24.xsd">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:dso="urn:sungardhe:enterprise:domain:sso:1.0" 
		xmlns:xdb="http://xmlns.oracle.com/xdb" 
		targetNamespace="urn:sungardhe:enterprise:domain:sso:1.0" 
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
			<!--***** Begin SSO message element and type definitions *****-->
			<xsd:element name="GetApplicationCredential" type="dso:GetApplicationCredentialType"/>
			<xsd:complexType name="GetApplicationCredentialType">
				<xsd:choice>
					<xsd:sequence>
						<xsd:element name="SSOTicket" type="dso:SSOTicketType"/>
					</xsd:sequence>
					<xsd:sequence>
						<xsd:element name="UDCIdentifier" type="xsd:string"/>
						<xsd:element name="ApplicationCredentials" type="dso:ApplicationCredentialsType"/>
					</xsd:sequence>
				</xsd:choice>
			</xsd:complexType>
			<xsd:element name="ShowApplicationCredential" type="dso:ShowApplicationCredentialType"/>
			<xsd:complexType name="ShowApplicationCredentialType">
				<xsd:sequence>
					<xsd:element name="Result" type="dso:ResultType"/>
					<xsd:element name="SSOCredentials" type="dso:ApplicationCredentialsType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="AddApplicationCredential" type="dso:AddApplicationCredentialType"/>
			<xsd:complexType name="AddApplicationCredentialType">
				<xsd:sequence>
					<!-- Added the UDCIdentifier for the add opearation-->
					<xsd:element name="UDCIdentifier" type="xsd:string"/>
					<xsd:element name="IsTemporary" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="ApplicationCredential" type="dso:ApplicationCredentialsType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ConfirmAddApplicationCredential" type="dso:ConfirmAddApplicationCredentialType"/>
			<xsd:complexType name="ConfirmAddApplicationCredentialType">
				<xsd:sequence>
					<xsd:element name="Result" type="dso:ResultType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="DeleteApplicationCredential" type="dso:DeleteApplicationCredentialType"/>
			<xsd:complexType name="DeleteApplicationCredentialType">
				<xsd:sequence>
					<xsd:element name="UDCIdentifier" type="xsd:string"/>
					<xsd:element name="ApplicationCredential" type="dso:ApplicationCredentialsType"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ConfirmDeleteApplicationCredential" type="dso:ConfirmDeleteApplicationCredentialType"/>
			<xsd:complexType name="ConfirmDeleteApplicationCredentialType">
				<xsd:sequence>
					<xsd:element name="Result" type="dso:ResultType"/>
				</xsd:sequence>
			</xsd:complexType>
			<!--***** End SSO message element and type definitions *****-->
			<!--***** Begin reusable type definitions *****-->
			<xsd:simpleType name="ResultType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="success"/>
					<xsd:enumeration value="failure"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ApplicationCredentialsType">
				<xsd:sequence>
					<xsd:element name="UserID" type="xsd:string"/>
					<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="applicationName" type="xsd:string" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="SSOTicketType">
				<xsd:sequence>
					<xsd:element name="SSOTicketID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!--***** End SSO message element and type definitions *****-->
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetApplicationCredential">
		<wsdl:part name="parameters" element="dso:GetApplicationCredential"/>
	</wsdl:message>
	<wsdl:message name="ShowApplicationCredential">
		<wsdl:part name="parameters" element="dso:ShowApplicationCredential"/>
	</wsdl:message>
	<wsdl:message name="AddApplicationCredential">
		<wsdl:part name="parameters" element="dso:AddApplicationCredential"/>
	</wsdl:message>
	<wsdl:message name="ConfirmAddApplicationCredential">
		<wsdl:part name="parameters" element="dso:ConfirmAddApplicationCredential"/>
	</wsdl:message>
	<wsdl:message name="DeleteApplicationCredential">
		<wsdl:part name="parameters" element="dso:DeleteApplicationCredential"/>
	</wsdl:message>
	<wsdl:message name="ConfirmDeleteApplicationCredential">
		<wsdl:part name="parameters" 
		element="dso:ConfirmDeleteApplicationCredential"/>
	</wsdl:message>
	<wsdl:portType name="ApplicationCredentialPortType">
		<wsdl:operation name="GetApplicationCredential">
			<wsdl:input message="tns:GetApplicationCredential"/>
			<wsdl:output message="tns:ShowApplicationCredential"/>
		</wsdl:operation>
		<wsdl:operation name="AddApplicationCredential">
			<wsdl:input message="tns:AddApplicationCredential"/>
			<wsdl:output message="tns:ConfirmAddApplicationCredential"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteApplicationCredential">
			<wsdl:input message="tns:DeleteApplicationCredential"/>
			<wsdl:output message="tns:ConfirmDeleteApplicationCredential"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApplicationCredentialSoapBinding" 
	type="tns:ApplicationCredentialPortType">
		<soap:binding style="document" 
		transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetApplicationCredential">
			<soap:operation soapAction="urn:oracle:service" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddApplicationCredential">
			<soap:operation soapAction="urn:oracle:service" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteApplicationCredential">
			<soap:operation soapAction="urn:oracle:service" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApplicationCredentialService">
		<wsdl:port name="ApplicationCredentialSoapPort" 
		binding="tns:ApplicationCredentialSoapBinding">
			<soap:address location="http://localhost:7001/ssomanager/ws/credential-service"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
