decompile/ssomgr/src/WEB-INF/wsdl/sso-ticket-services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:dso="urn:sungardhe:enterprise:domain:sso:1.0" 
xmlns:tns="urn:sungardhe:enterprise:ws:wsdl:1.0" 
targetNamespace="urn:sungardhe:enterprise:ws:wsdl:1.0" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://schemas.xmlsoap.org/wsdl/
http://ws-i.org/profiles/basic/1.1/wsdlsoap-2004-08-24.xsd">
	
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:dso="urn:sungardhe:enterprise:domain:sso:1.0" 
		xmlns:xdb="http://xmlns.oracle.com/xdb" 
		targetNamespace="urn:sungardhe:enterprise:domain:sso:1.0" 
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
			<!--***** Begin SSO message element and type definitions *****-->
			<xsd:element name="CreateSSOTicket" type="dso:CreateSSOTicketType"/>
			<xsd:complexType name="CreateSSOTicketType">
				<xsd:sequence>
					<xsd:element name="UDCIdentifier" type="xsd:string"/>
					<xsd:element name="ApplicationCredentials" type="dso:ApplicationCredentialsType" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ShowSSOTicket" type="dso:ShowSSOTicketType"/>
			<xsd:complexType name="ShowSSOTicketType">
				<xsd:sequence>
					<xsd:element name="Result" type="dso:ResultType"/>
					<xsd:element name="SSOTicket" type="dso:SSOTicketType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:complexType>
			<!--***** End SSO message element and type definitions *****-->
			<!--***** Begin reusable type definitions *****-->
			<xsd:simpleType name="ResultType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="success"/>
					<xsd:enumeration value="failure"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ApplicationCredentialsType">
				<xsd:sequence>
					<xsd:element name="UserID" type="xsd:string"/>
					<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="applicationName" type="xsd:string" use="optional"/>
			</xsd:complexType>
			<xsd:complexType name="SSOTicketType">
				<xsd:sequence>
					<xsd:element name="SSOTicketID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<!--***** End SSO message element and type definitions *****-->
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="CreateSSOTicket">
		<wsdl:part name="parameters" element="dso:CreateSSOTicket"/>
	</wsdl:message>
	
	<wsdl:message name="ShowSSOTicket">
		<wsdl:part name="parameters" element="dso:ShowSSOTicket"/>
	</wsdl:message>
	
	<wsdl:portType name="SSOTicketPortType">
		<wsdl:operation name="CreateSSOTicket">
			<wsdl:input message="tns:CreateSSOTicket"/>
			<wsdl:output message="tns:ShowSSOTicket"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="SSOTicketSoapBinding" type="tns:SSOTicketPortType">
		<soap:binding style="document" 
		transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateSSOTicket">
			<soap:operation soapAction="urn:oracle:service" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="SSOTicketService">
		<wsdl:port name="SSOTicketSoapPort" binding="tns:SSOTicketSoapBinding">
			<soap:address location="http://localhost:7001/ssomanager/ws/sso-ticket-service"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
